<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> 
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('form') }}">Form</a></li>
        </ul>
    </nav>
    <section class="common-section hero-section">
        <form class="upload-img-form" method="POST" enctype="multipart/form-data" >
            <h2 class="form-element">Upload Image</h2>
            <div class="inner-container">
                <div class="form-element">
                    <label for="name">Description:</label>
                    <input type="text" id="name" name="name" placeholder="enter the description">
                </div>
                <div class="form-element"> 
                    <label for="img">Image:</label>
                    <input type="file" id="file" name="file" accept="image/*">
                </div>
            </div>
            <button type="submit" value="submit">Submit</button>
        </form>
    </section>
    <footer>
        <p>made by @<a href="https://github.com/Exitarr">Sourav Das</a></p>
    </footer>
</body>
</html>